#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#define QWERTY 0
#define NUMB 1
#define NAVI 2
#define ADJUST 3
#define PLAY 4

&lt {
    tapping-term-ms = <300>;
    quick_tap_ms = <200>;
    flavor = "hold-preferred";
};

/ {
    chosen { zmk,matrix_transform = &default_transform; };

    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <150>;
            quick_tap_ms = <150>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        lm: left_hand_positional_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "LEFT_HOMEROW_MODS";
            #binding-cells = <2>;
            flavor = "tap-unless-interrupted";
            tapping-term-ms = <200>;
            quick-tap-ms = <200>;
            bindings = <&kp>, <&kp>;

            hold-trigger-key-positions = < 6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 >;
        };

        rm: right_hand_positional_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "RIGHT_HOMEROW_MODS";
            #binding-cells = <2>;
            flavor = "tap-unless-interrupted";
            tapping-term-ms = <200>;
            quick-tap-ms = <200>;
            bindings = <&kp>, <&kp>;

            hold-trigger-key-positions = < 1 2 3 4 5 12 13 14 15 16 17 25 26 27 28 29>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // .--------------------------------------------------------------.       .-----------------------------------------------------------.
            // |   ESC        |    Q    |    W   |   E    |    R    |    T    |       |   Y   |    U    |    I    |    O    |     P    |    [     |
            // |--------------+---------+--------+--------+---------+---------|       |-------+---------+---------+---------+----------+----------|
            // |  SHIFT/Tab   |    A    |    S   |   D    |    F    |    G    |       |   H   |    J    |    K    |    L    |     ;    |     ]    |
            // |--------------+---------+--------+--------+---------+---------|       |-------+---------+---------+---------+----------+----------|
            // |     CTRL     |    Z    |    X   |   C    |    V    |    B    |       |   N   |    M    |    ,    |    .    |     /    |     '    |
            // '---------------------------------+--------+---------+---------+       |-------+---------+---------+-------------------------------'
            //                                   |  ENT   |   MO1   |   A   |       |  BSPC |  SPACE/Spc  |   ALT   |
            //                                   '--------+---------+---------'       '-------+-------------+---------'

            bindings = <
&mt ESC INS         &kp Q           &kp W               &kp E             &kp R           &kp T              &kp Y      &kp U           &kp I              &kp O                &kp P               &kp LBKT
&mt LA(LSHIFT) TAB  &lm LEFT_GUI A  &lm LEFT_CONTROL S  &lm LEFT_SHIFT D  &lm LEFT_ALT F  &kp G              &kp H      &rm LEFT_ALT J  &rm RIGHT_SHIFT K  &rm RIGHT_CONTROL L  &rm RIGHT_GUI SEMI  &kp RBKT
&caps_word          &kp Z           &kp X               &kp C             &kp V           &kp B              &kp N      &kp M           &kp COMMA          &kp DOT              &kp FSLH            &kp SQT
                                                        &lt 1 ENTER       &mo 2           &lt 3 BACKSPACE    &lt 3 DEL  &lt 2 SPACE     &lt 1 ENTER
            >;
        };

        lower_layer {
            // .--------------------------------------------------------------.       .-----------------------------------------------------------.
            // |   ~          |    1    |    2   |   3    |    4    |    5    |       |   6   |    7    |    8    |    9    |     0    |    \     |
            // |--------------+---------+--------+--------+---------+---------|       |-------+---------+---------+---------+----------+----------|
            // |   SHIFT      |    !    |    @   |   #    |    $    |    %    |       |   ^   |    &    |    *    |    (    |     )    |     :    |
            // |--------------+---------+--------+--------+---------+---------|       |-------+---------+---------+---------+----------+----------|
            // |    CTRL      |         |    -   |   +    |    {    |    [    |       |   ]   |    }    |    _    |    =    |  A       |
            // '---------------------------------+--------+---------+---------+       |-------+---------+---------+-------------------------------'
            //                                   |  MO3   |         |   GUI   |       |       |         |         |
            //                                   '--------+---------+---------'       '-------+---------+---------'

            bindings = <
&kp GRAVE       &kp N1    &kp N2        &kp N3       &kp N4          &kp N5              &kp N6             &kp N7           &kp N8           &kp N9     &kp N0      &kp NUBS
&mt LSHIFT TAB  &kp EXCL  &kp AT        &kp HASH     &kp DLLR        &kp PRCNT           &kp CARET          &kp AMPS         &kp KP_MULTIPLY  &kp LPAR   &kp RPAR    &kp COLON
&kp LCTRL       &trans    &kp KP_MINUS  &kp KP_PLUS  &kp LEFT_BRACE  &kp LEFT_BRACKET    &kp RIGHT_BRACKET  &kp RIGHT_BRACE  &kp UNDERSCORE   &kp EQUAL  &kp KP_DOT  &trans
                                        &mo ADJUST   &trans          &kp LGUI            &trans             &trans           &trans
            >;
        };

        navi_cifra_layer {
            // .--------------------------------------------------------------.       .-----------------------------------------------------------------.
            // |              |  PU   |   PU   |   UP   |    PD    |   HOME   |       | PrtScr|  KP_N7   |  KP_N8  |  KP_N9  |          | CMD+SHIFT+4 |
            // |--------------+-------+--------+--------+----------+----------|       |-------+----------+---------+---------+----------+-------------|
            // |     CAPS     |  PD   |  LEFT  |  DOWN  |   RIGHT  |   END    |       |  Ins  |  KP_N4   |  KP_N5  |  KP_N6  |          |             |
            // |--------------+-------+--------+--------+----------+----------|       |-------+----------+---------+---------+----------+-------------|
            // |              |       |        |        |          |          |       | KP_N0 |  KP_N1   |  KP_N2  |  KP_N3  |          |   OUT_TOG   |
            // '-------------------------------+--------+----------+----------+       |-------+----------+---------+----------------------------------'
            //                                 |        |   MO3    |   CTRL   |       |  DEL  |          |         |
            //                                 '--------+----------+----------'       '-------+----------+---------'

            bindings = <
&none  &kp PAGE_UP    &kp HOME        &kp UP_ARROW    &kp END          &none            &none    &kp KP_N7  &kp KP_N8  &kp KP_N9  &none            &none
&none  &kp PAGE_DOWN  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &none            &none    &kp KP_N4  &kp KP_N5  &kp KP_N6  &kp KP_NUMBER_0  &none
&none  &none          &none           &none           &none            &none            &none    &kp KP_N1  &kp KP_N2  &kp KP_N3  &kp KP_DOT       &none
                                      &none           &none            &kp BACKSPACE    &kp DEL  &none      &none
            >;
        };

        adjust_layer {
            // .-------------------------------------------------------------.       .--------------------------------------------------------------.
            // |   F1         |   F2   |   F3   |   F4   |   F5    |   F6    |       |   F7   |   F8   |   F9    |   F10   |   F11    |     F12     |
            // |--------------+--------+--------+--------+---------+---------|       |--------+--------+---------+---------+----------+-------------|
            // |              |        |        |        |         |         |       |        |        |         |         |          |             |
            // |--------------+--------+--------+--------+---------+---------|       |--------+--------+---------+---------+----------+-------------|
            // |     BTCLR    |  BT1   |  BT2   |  BT3   |  BT4    |  BT5    |       | BR_DN  | BR_UP  |         |         |          | play layer  |
            // '--------------------------------+--------+---------+---------+       |--------+--------+---------+----------------------------------'
            //                                  |        |         |  Reset  |       |  MUTE  |  VOL-  |   VOL+  |
            //                                  '--------+---------+---------'       '--------+--------+---------'

            bindings = <
&kp F1      &kp F2        &kp F3        &kp F4        &kp F5        &kp F6          &kp F7        &kp F8             &kp F9           &kp F10  &kp F11  &kp F12
&trans      &trans        &trans        &trans        &trans        &trans          &trans        &trans             &trans           &trans   &trans   &trans
&bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &kp C_BRI_DN  &kp C_BRI_UP       &trans           &trans   &trans   &tog PLAY
                                        &trans        &trans        &sys_reset      &kp C_MUTE    &kp C_VOLUME_DOWN  &kp C_VOLUME_UP
            >;
        };

        play_layer {
            // .--------------------------------------------------------------.       .-----------------------------------------------------------.
            // |   ESC        |    Q    |    W   |   E    |    R    |    T    |       |   Y   |    U    |    I    |    O    |     P    |    [     |
            // |--------------+---------+--------+--------+---------+---------|       |-------+---------+---------+---------+----------+----------|
            // |  SHIFT/Tab   |    A    |    S   |   D    |    F    |    G    |       |   H   |    J    |    K    |    L    |     ;    |     ]    |
            // |--------------+---------+--------+--------+---------+---------|       |-------+---------+---------+---------+----------+----------|
            // |     CTRL     |    Z    |    X   |   C    |    V    |    B    |       |   N   |    M    |    ,    |    .    |     /    |  Lay 1   |
            // '---------------------------------+--------+---------+---------+       |-------+---------+---------+-------------------------------'
            //                                   |  LALT  |  SPACE  |  MO 1   |       |  BSPC |  SPACE/Tab  |   ALT   |
            //                                   '--------+---------+---------'       '-------+-------------+---------'

            bindings = <
&kp ESC         &kp Q  &kp W  &kp E     &kp R      &kp T    &kp Y     &kp U          &kp I      &kp O    &kp P     &kp LBKT
&mt LSHIFT TAB  &kp A  &kp S  &kp D     &kp F      &kp G    &kp H     &kp J          &kp K      &kp L    &kp SEMI  &kp RBKT
&kp LCTRL       &kp Z  &kp X  &kp C     &kp V      &kp B    &kp N     &kp M          &kp COMMA  &kp DOT  &kp FSLH  &tog PLAY
                              &kp LALT  &kp SPACE  &mo 1    &kp BSPC  &mt SPACE TAB  &kp LALT
            >;
        };
    };
};
